@import 'styles/theme';

.customCards {
  /* component to for the text with the link to the registration page */
  &.registrationText{
    margin-top: 15px;
    text-align: center;
    background-color: #383836;
  }


  /* Since Link get's transpiled to an <a>, you can use css to style all <a> and change all links color  and text alligns*/
  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }

  &.container {
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
    background-color: $background;
  }

  /*this values define the black box around the username and password field*/
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 40em;//25em;
    font-size: 1em;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: transparent;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    text-align: left;
  }

  /*this is the field from  login field defined in login.js as template on top of the file*/
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*this values define the input field for custom card*/
  &.input {

    height: 12em;
    width: 9em;
    padding: 1em;
    border: none;
    border-radius: 0.7em;
    margin-bottom: 20px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 1.3em;

  }

  /*this values define the labels (the texts "Username" and "Password")*/
  &.label {
    color: $textColor;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5em;
  }

  /*this values define the position of the login button bc it is inside the button-container*/
  &.button-container {
    display: flex;
    justify-content: center;
  }
  &.registrationText{
    background-color: black;
  }
}