@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.joinLobby {

  &.base-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    font-size: 1em;
  }
  h2{
    font-size: 2em;
    color: white;
  }

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }


  &.titleContainer {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
  }
  &.icon{
    height: 7.5em;
    width: 8em;
    margin-bottom: 1em;
    margin-top: 0em;
  }

  &.editIcon{
    height: 1em;
    width: 1em;
  }


  &.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

  &.username{
  }


  &.lobbyListContainer {
    text-align: center;
    /*background-color: red;*/
  }

  &.lobbyList{
    /*background-color: blue;*/
    padding-left: 0;
  }

  &.button-container{
    /*background-color: red;*/
  }

  &.profile_button{
    &:disabled {
      display: none;
    }

    min-width: 220px;
    margin-top: 10px;
    padding: 10px;
    font-size: 2em;
  }

  &.logout_button{
    &:disabled {
      display: none;
    }

    min-width: 220px;
    margin-top: 10px;
    padding: 10px;
    font-size: 2em;
  }

  &.new_lobby_button{
    &:disabled {
      display: none;
    }

    min-width: 220px;
    margin-top: 10px;
    padding: 10px;
    font-size: 2em;
  }


  /*this are the buttons to get to the different lobbies*/
  &.lobbyButton{
    border-radius: $borderRadiusItems;
    border:none;
    font-size: 1.5em;
    padding: 1em;
    background-color: $itemsColor;
    color:white;
    margin:5px;
    &:hover {
      transform: translateY(-2px);
      background-color: $itemsColorBrighter;
    }
  }

}

