@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list
  for more information visit https://sass-lang.com/guide
 */

.lobby {

  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }

  h1{
    font-size: 3.5em;
    font-weight: bold;
  }

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }



  &.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

/*    background-color: green;*/
  }

  &.user-list{
/*    background-color: red;*/
    width: 800px;
    margin-bottom: 20px;
  }

  &.grid-container{

/*    background-color: red;*/
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: minmax(10px,auto);
    grid-row-gap: 50px;
    grid-column-gap: 0px;
    justify-content: center; //puts grid into the center of the page
    text-align: center;
  }
  &.grid-content1{

/*    background-color: blue;*/
  }
  &.grid-content2{
/*    background-color: #490b96;*/
  }
  &.grid-content3{
/*    background-color: #6c0b96;*/

  }
  &.grid-content4{
/*    background-color: purple;*/

  }

  &.ready_button{
    min-width: 300px;
  }

  &.rules_button{
    min-width: 300px;
  }
  &.leave_button{
    min-width: 300px;
  }
  &.small_button{
    min-width: 300px;
    font-size: 1.5em;
  }


  &.game_rules{
    color:white;
  }

}

.player {
  &.playerContainer {
    margin:2px;
    width: auto;
    padding: 15px;
    display: flex;
    font-size: 1.5em;
    background-color: #383836;
    border-radius: 0.5em;
  }

  &.username {
    font-weight: bold;
  }
  &.ready_status {
    margin-left: auto;
    margin-right: 2em;

  }
}
