@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list
  for more information visit https://sass-lang.com/guide
 */

.lobby {

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }

  &.text-container{
    padding-top: 2em;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    background-color: $background;
  }



  &.user-list{
    width: 60%;
    background-color: $background;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }

  &.button_container{
    width: 60%;
    background-color: $background;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }

  &.logout_button{
    width: 30%;
    margin-left: 4em;
  }

  &.ready_button{
    width: 30%;

  }

  &.rules_button{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 1em;
  }


  &.game_rules{
    color:white;
  }

}

.player {
  &.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    width: auto;
    padding: 15px;
    border-radius: 0.5em;
    display: flex;
    background-color: #524F4F;
    font-size: 1.5em;
  }

  &.username {
    font-weight: bold;
  }
  &.ready_status {
    margin-left: auto;
    margin-right: 2em;

  }
}
