@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list
  for more information visit https://sass-lang.com/guide
 */

.lobby {

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }

  &.text-container{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    background-color: $background;
  }

  &.container {
    width: 50%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    background-color: $background;
  }

  &.user-list{
    background-color: $background;
    padding-left: 0;
    padding-right: 0;
  }

  &.button_container{
    display: flex;
    width: auto;
    background-color: $background;

  }

  &.rules_button{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left:20px
  }


  &.game_rules{
    color:white;
  }

}

.player {
  &.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    width: auto;
    padding: 15px;
    border-radius: 0.5em;
    display: flex;
    background-color: green;
    font-size: 1.5em;
  }

  &.username {
    font-weight: bold;
  }
  &.ready_status {
    margin-left: auto;
    margin-right: 2em;

  }
}
