@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profilePage {

  &.base-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    font-size: 1em;
  }
  h2{
    font-size: 2em;
    color: darkgray;
  }

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }


  &.titleContainer {
    font-size: 3.5em;
    font-weight: bold;
  }
  &.icon{
    height: 7.5em;
    width: 8em;
    margin-bottom: 1em;
    margin-top: 0em;
  }

  &.editIcon{
    height: 1em;
    width: 1em;
  }


  &.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /*background-color: red;*/
  }

  &.username{
  }


  &.button-container{
    flex-direction: row;

    margin-top: 35px;
    /*background-color: red;*/
    padding:5px
  }

  &.logout_button{
    &:disabled {
      display: none;
    }

    min-width: 200px;
    margin-top: 10px;
    padding-top: 12px;
    font-size: 1em;
  }

  &.lobbies_button{
    &:disabled {
      display: none;
    }

    min-width: 200px;
    margin-top: 10px;
    padding-top: 12px;
    font-size: 1em;
  }

  &.back_button{
    &:disabled {
      display: none;
    }

    min-width: 200px;
    margin-top: 10px;
    padding-top: 12px;
    font-size: 1em;
  }

}

