@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profilePage {
 background-color: black;

  h1{
    font-size: 1em;
  }
  h2{
    font-size: 2em;
    color: darkgray;
  }

  button{
    margin-left: 1em;
  }

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }

  &.container {
    display: flex;
    flex-direction: column;
    justify-content: center;/* justify-content — controls alignment of all items on the main axis. Here this is the vertical axis (bc our flex direction is vertical) */
    align-items: center;
  }

  &.titleContainer {
    font-size: 5em;
    font-weight: bold;
  }
  &.icon{
    height: 7.5em;
    width: 8em;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  &.editIcon{
    height: 1em;
    width: 1em;
  }


  &.infos {
    font-size: 2em;
  }

  &.username{

  }


  &.buttonContainer{
    font-size: 1.2em;
    margin-top: 2em;
  }


  &.lobbyListContainer {
    margin-top: 20px;
    text-align: center;
  }

  &.lobbyButton{
    border-radius: 1em;
    border-width: 0.3em;
    font-size: 1.2em;
    color:white;
    padding: 1em;
    &:hover {
      transform: translateY(-2px);
      background-color: #393b39;
    }
    &:disabled {
      cursor: default;
      opacity: 0.2;

      &:hover {
        transform: none;
        background-color: white;
      }
    }


  }
}

