@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profilePage {
 background-color: red;

  a{
    color: $textColor;
  }
  a:hover {
    color: grey;
  }
  a:link{
    text-decoration: none;
  }

  &.container {
    display: flex;
    flex-direction: column;
    justify-content: center;/* justify-content — controls alignment of all items on the main axis. Here this is the vertical axis (bc our flex direction is vertical) */
    align-items: center;
  }

  &.titleContainer {
    font-size: 5em;
    font-weight: bold;
  }
  &.icon{
    height: 7.5em;
    width: 8em;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  &.editIcon{
    height: 2em;
    width: 2em;
  }


  &.infos {

  }

  &.username{

  }


  &.button_container{
    font-size: 1.2em;
    margin-top: 1em;
  }


  &.lobbyListContainer {
/*    display: flex;
    flex-direction: column; !*child elements sind untereinender *!
    justify-content:center; !* distributes space between and around content items along the main-axis of a flex container *!
    align-items: center; !* sets the align-self value on all direct children as a group. In Flexbox, it controls the alignment of items on the Cross Axis. *!
    margin-bottom: 0.5em;
    padding: 3px;
    border-radius: 0.5em;
    background-color: red;
    color: white;
    font-size: 3em;*/
  }
}

