@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.round {
  &.container {
    background: $background;
  }
  &.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(200px,auto);
    grid-row-gap: 30px;
    grid-column-gap: 2%;
    justify-content: center; //puts grid into the center of the page
    text-align: center;
  }
  &.grid-content1{
    /*background-color: blue;*/
    display: flex;
  }

  &.scoreBoard{
  }

  &.roundNumber{
    margin:10px;

    font-size: 20px;
    text-align: center;

    width: 10em;
    height: 6em;
    border-radius: $borderRadiusItems; // rounded corner
    background-color: $itemsColor;
    color:white;
  }

  &.grid-content2{
    /*background-color: #490b96;*/
  }
  &.grid-content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /*background-color: #6c0b96;*/
  }
  &.grid-content4{
    /*background-color: purple;*/
    grid-column-start: 1;
    grid-column-end: 4;
  }


  & p,h2 {
    margin: 0.5em 0;
  }
  &.cards{
/*    background-color: red;*/
  }
  & h3{
    font-size: 0.9em;
  }

  &.scoreBoardPlayers{
    font-style: italic;
  }

  &.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background-color: $itemsColor;
    padding: 15px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;

    width: 100px;
    height: 100px;
    border-radius: $borderRadiusItems; // rounded corner
    margin-top: 1em;
  }

}

