@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.round {
  &.container {
    background: $background;
  }
  &.grid-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(200px,auto);
    grid-row-gap: 10px;
    grid-column-gap: 2%;
    justify-content: center; //puts grid into the center of the page

  }
  &.grid-content1{
    background-color: purple;

  }
  &.grid-content2{
    background-color: purple;
  }
  &.grid-content3{
    background-color: purple;
  }
  &.grid-content4{
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 4;
  }


  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.card-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  &.cards{
    background-color: red;
    color:white;
  }

}

.player {
  &.container {
    //margin: 0.5em 0;
    //width: 20em;
    //padding: 10px;
    //border-radius: $borderRadius;
    //display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $fontMono;
  }
  &.id {
    font-family: $fontMono;
    font-weight: 300;
  }
}

.whitecard {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }



  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $fontMono;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}