@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  min-width: 100vm;
  min-height: 100vh;
  color: $textColor;
  background-color: black;
}