@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  min-width: 1366px;
  color: $textColor;
  background-color: $background;
}