@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
    &:hover {
      transform: none;
    }
  }

  margin-right: 1em;
  margin-left: 1em;
  padding: 0.5em;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
  height: 2em;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
}