@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
    background-color: #c2c1c0;
  }
  &:disabled {
    cursor: default;
    opacity: 0.2;
    &:hover {
      transform: none;
      background-color: white;
    }
  }


  &.disappear_version {
    &:hover {
      opacity: 1;
    }
    &:disabled {
      opacity: 0;
    }
  }




  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;


  padding: 0.5em;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
  height: 2em;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
}