@import 'styles/scoreBoardBase';

.scoreBoard{

  padding: 15px; //distance
  font-weight: 200;
  font-size: 20px;
  text-align: left;

  border: 3px solid white;
  border-radius: 0.5em; // rounded corner
  background-color: black;
  color:white;
}