@import 'styles/theme';

.secondary-button {

  &:hover {
    transform: translateY(-2px);
    background-color: #c2c1c0;
  }
  &:disabled {
    cursor: default;
    opacity: 0.2;
    &:hover {
      transform: none;
      background-color: transparent;
    }
  }

  outline:none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  background-color: transparent;
  transition: all 0.3s ease;
}